.card-container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.card-headding {
    font-weight: 700;
    font-size: 14px;
    align-self: start;
}

.card-value {
    font-weight: 400;
    font-size: 12px;
    align-self: start;
}